{% extends "base.html" %}

{% block content %}
    <!-- Home -->
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Welcome to Therabalms</h2>
                    <p>We are a world-class organization tailored to help you through your recovery process. Connect with us today.</p>
                    <div class="btn">
                        <a class="blue" href="about us.html">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about -->

    <section id="About">
        <div class="container">
            <h1>About Therabalms</h1>
            <p>About us: Therabalms is an initiative of team Monrovia from cwwtech africa targeted at providing therapy to individuals with mental health disorders, especially anxiety, depression, stress, and mood swings. We offer self-assessment tests that enable you to appropriately understand the symptoms you are feeling, educational pieces that inform about various disorders, consultation services which provide one-on-one teletherapy and support groups and communities who offer strength and accountability through your journey to recovery. At Therabalms, your mental health is our priority.</p>
        </div>
    </section>
    <!-- services -->
    <section class="service">
        <div class="container">
            <h1>Our Services</h1>
            <h2>Therabalms specializes in managing mental health disorders, especially anxiety, depression, and stress.</h2> 
            <div class="row">
                <div class="col-md-3">
                    <img src="static/images/psychotherapy2.jpg" alt="">
                    <a href="about us.html">Self-assessment</a>
                </div>
                <div class="col-md-3">
                    <img src="static/images/therapy_o.jpg" alt="">
                    <a href="consultation.html">Counseling and Consultation</a>
                </div>
                <div class="col-md-3">
                    <img src="static/images/pro.jpg" alt="">
                    <a href="about us.html">Progress-tracker</a>
                </div>
                <div class="col-md-3">
                    <img src="static/images/ogaga1.jpg" alt="">
                    <a href="blog.html">Psychoeducation</a>
                </div>
            </div>
        </div>
    </section>

    <!-- core -->
    <section id="core">
        <div class="container">
            <h1>Our Areas of Core Competence</h1>
            <p>At Therabalms, we specialize in the management of anxiety, depression, and stress.</p>
            <div class="core-box">
                <div class="core">
                    <img src="static/images/mental_health5.jpg" alt="">
                    <div class="details">
                        <span>as of 18/19/23</span>
                        <h4>Mental Health Specialty</h4>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>(239)</span>
                        </div>
                    </div>
                </div>
                <div class="core">
                    <img src="static/images/anxiety3.jpg" alt="">
                    <div class="details">
                        <span>as of 18/19/23</span>
                        <h4>Anxiety</h4>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>(239)</span>
                        </div>
                    </div>
                </div>
                <div class="core">
                    <img src="static/images/depress_2.jpg" alt="">
                    <div class="details">
                        <span>as of 18/19/23</span>
                        <h4>Depression</h4>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>(239)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- registration -->
    <section id="registration">
        <div class="container">
            <div class="remider">
                <p>Get free consultation with us</p>
                <h1>Register to get in</h1>
                <div class="time">
                    <div class="date">
                        28 <br>Days
                    </div>
                    <div class="date">
                        23 <br>Hours
                    </div>
                    <div class="date">
                        18 <br>Minutes
                    </div>
                    <div class="date">
                        19 <br>Seconds
                    </div>
                </div>
            </div>
            <div class="form">
                <h3>Create a Free Account NOW!!</h3>
                <input type="text" placeholder="Name" name="" id="">
                <input type="text" placeholder="Email Address" name="" id="">
                <input type="text" placeholder="Phone Number" name="" id="">
                <div class="btn">
                    <a class="blue" href="#">Submit Form</a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- testimonials -->
    <section class="testimonials">
        <div class="container">
            <h1>TESTIMONIALS</h1>
            <p>What our highly esteemed beneficiaries have to say</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="testimonial-col">
                        <img src="static/images/therapy_w.jpg" alt="Christine Damilola">
                        <div>
                            <p>Dealing with depression became easier for me when I gained access to therapy. The one-on-one therapy session has helped ease the heavy burden I have felt for a very long time. I am glad I found this application.</p>
                            <h3>Christine Damilola</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-col">
                        <img src="static/images/therapy_c.jpg" alt="Blessing Grace">
                        <div>
                            <p>For years I have dealt with stress and frustration without a way out. I have lost friends to sudden outbursts of anger and had no idea how to get it under control. Finding Therabalms has been a blessing to me. This gave me insight into all I was feeling. I found articles that helped me understand my situation better and cope well with all I was going through.</p>
                            <h3>Blessing Grace</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
