{% extends "base.html" %}

{% block content %}
    <!-- About Therabalms -->
    <section id="about-home" class="text-center py-5">
        <div class="container">
            <h2>About Therabalms</h2>
        </div>
    </section>

    <section id="about-container" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-img">
                        <img src="static/images/therapy q.jpg" alt="Therapy Image" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <h2>Welcome to Therabalms</h2>
                        <p class="lead">We are here to help you with your mental health.</p>
                        <p>Therabalms is an initiative of Team Monrovia aimed at providing therapy to individuals with mental health disorders, especially anxiety, depression, stress, and mood swings. Our services include self-assessment tests, educational resources, one-on-one teletherapy, and support groups. Your mental health is our priority.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action -->
    <section class="cta text-center py-5">
    <div class="container">
        <div class="p-4">
            <h1>Take our assessment test to connect with a consultant</h1>
            <a href="/selfassessment" class="btn btn-primary">Take Test</a>
        </div>
    </div>
</section>


 <!-- Services -->
<section class="service py-5">
    <div class="container">
        <h1 class="text-center">Our Services</h1>
        <h2 class="text-center">Therabalms specializes in managing mental health disorders, especially anxiety, depression, and stress.</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-col text-center">
                    <img src="static/images/psycotherpy2.jpg" alt="">
                    <h3>Self-Assessment</h3>
                    <p>Take our self-assessment test to understand your symptoms better.</p>
                    <a class="btn btn-primary mt-3" href="/selfassessment">Learn More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-col text-center">
                    <img src="static/images/therapy o.jpg" alt="">
                    <h3>Counseling and Consultation</h3>
                    <p>Speak with our experienced counselors and therapists for one-on-one teletherapy.</p>
                    <a class="btn btn-primary mt-3" href="/consultation">Learn More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-col text-center">
                    <img src="static/images/pro.jpg" alt="">
                    <h3>Progress Tracker</h3>
                    <p>Track your journey to recovery and receive motivation and support.</p>
                    <a class="btn btn-primary mt-3" href="/about">Learn More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-col text-center">
                    <img src="static/images/ogaga1.jpg" alt="">
                    <h3>Psycoeducation</h3>
                    <p>Explore articles and facts to enhance your mental health knowledge.</p>
                    <a class="btn btn-primary mt-3" href="/blog">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Trusted By -->
<!--     <section id="trust" class="text-center py-5">
    <div class="container">
        <h1>Trusted By</h1>
        <p>We are trusted by these organizations:</p>
        <div class="trust-img row">
            <div class="col-md-4">
                <img src="static/images/trust 3.png" alt="Trust Image" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="static/images/Dangote-Group.png" alt="Dangote Group Image" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="static/images/mtn.png" alt="MTN Image" class="img-fluid">
            </div>
        </div>
    </div>
</section> -->

{% endblock %}
