{% extends "base.html" %}

{% block content %}
    <!-- Home -->
    <section id="home" class="text-center py-5">
        <div class="container">
            <h2>WELCOME TO BLOG</h2>
        </div>
    </section>

    <section id="blog-container" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blogs">
                        <div class="blogpost">
                            <img src="static/images/mental health2.jpg" alt="" class="img-fluid">
                            <h3>Mental health specialty</h3>
                            <p>Introducing the Dynamic Duo: Therabalms and Empathy! 💙
                                In a world where mental health challenges often remain hidden behind closed doors, it’s time we unveil the power of a remarkable alliance. Picture this: a cutting-edge online therapy platform, “Therabalms”, intertwining its forces with the remarkable force that is empathy. Together, they form an unstoppable bond, aimed at healing the deepest of mental wounds and making the therapeutic world more impactful.
                                Join us on this captivating blog as we explore the potential effects of the intersection of “Therabalms” and “empathy” in the mental space.
                            </p>
                            <a href="post.html" class="btn btn-primary">Read more</a>
                        </div>
                        <div class="blogpost">
                            <img src="static/images/depress 2.jpg" alt="" class="img-fluid">
                            <h3>Stress management</h3>
                            <p>In Hans Selye’s words, “Stress is not what happens to us, it’s our response to what happens to us.” 
                                Stress is a normal and healthy emotion; however, too much of it may have negative effects on us. Managing stress in everyday life is essential for our mental and physical well-being. While stress may be a normal part of life, it is important to strike a balance to prevent a mental breakdown.
                                Here are a few ways to effectively manage stress.
                            </p>
                            <a href="blogpost4.html" class="btn btn-primary">Read more</a>
                        </div>
                        <div class="blogpost">
                            <img src="static/images/anxiety.jpg" alt="" class="img-fluid">
                            <h3>Anxiety disorder</h3>
                            <p>In recent years, there has been increasing acknowledgment of the important role mental health plays in achieving global development goals, as illustrated by the inclusion of mental health in the Sustainable Development Goals. Depression is one of the leading causes of disability. Suicide is the fourth leading cause of death among 15-29-year-olds. People with severe mental health conditions die prematurely – as much as two decades early – due to preventable physical conditions.</p>
                            <a href="blogpost4.html" class="btn btn-primary">Read more</a>
                        </div>
                        <div class="blogpost">
                            <img src="static/images/doc1.jpg" alt="" class="img-fluid">
                            <h3>Depression</h3>
                            <p>In recent years, there has been increasing acknowledgment of the important role mental health plays in achieving global development goals, as illustrated by the inclusion of mental health in the Sustainable Development Goals. Depression is one of the leading causes of disability. Suicide is the fourth leading cause of death among 15-29-year-olds. People with severe mental health conditions die prematurely – as much as two decades early – due to preventable physical conditions.</p>
                            <a href="#" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="category">
                        <h2>Categories</h2>
                        <hr>
                        <a href="#">Mental Health</a>
                        <hr>
                        <a href="#">Anxiety</a>
                        <hr>
                        <a href="#">Depression</a>
                        <hr>
                        <a href="#">Stress Management</a>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
