<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial scale=1.0">
    <title>therabalms</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!---- navigation ---->
    <nav>
        
        <img src="images/Grace today.jpg" alt="">
        <div class="navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="index.html">Blog</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">consultation</a></li> 
            </ul>
            <img id="menu-btn" src="images/menu5.png" alt="">
        </div>
    </nav>

    <!-- Home -->
   <section id="blog-container">
        <div class="post">
            <div class="blogposter">
            <img src="images/mental health2.jpg" alt="">
            <h3>Stress</h3>
            <h5>causes of stress</h5>
            <p>In Hans Selye’s words, “Stress is not what happens to us, it’s our response to what happens to us.” 

                Stress is a normal and healthy emotion, however too much of it may have negative effects on us. Managing stress in everyday life is essential for our mental and physical well being. While stress may be a normal part of life, it is important to strike a balance to prevent a mental breakdown. 
                
                Here are a few ways to effectively manage stress.
                
                ⦁	identify stressors: identify the things in your life that cause you stress, then develop strategies that would help you manage them effectively.
                ⦁	Healthy diet: eating a balanced diet can help improve your energy levels and reduce stress. Avoid excessive caffeine and sugar intake which can increase stress level. Also, consume more vegetables, fruits and proteins because they are more beneficial.
                ⦁	Adequate sleep: ensure you get enough quality sleep daily, aiming for 7–8 hours of sleep would be just fine.
                ⦁	Regular Exercise: Exercise releases endorphins, which are natural stress relievers. Exercise is a great way to reduce stress and improve your overall mood. Aim for at least 30 minutes of moderate intensity exercise most days of the week.
                ⦁	Relaxation techniques: techniques such as mindfulness meditation, deep breathing exercises, or progressive muscle relaxation help to calm your mind and reduce physical tension. There are many resources available online and in libraries that can teach you how to practice relaxation techniques.
                ⦁	Time management: Utilize your time wisely. Allocate defined time for certain activities and break projects into doable, smaller pieces.
                ⦁	Social connections: Keep in touch with your loved ones and don’t hesitate to reach out whenever you need to talk. You can get emotional support and stress relief from social support.
                ⦁	Set boundaries: Establish clear boundaries at work and in your personal life. It's okay to say no to requests from others, especially if you’re feeling overwhelmed. Don't overcommit yourself to things just because you want to please others.
                ⦁	Avoid negativity: You can become depressed and more stressed when you are around negative people. Surround yourself with uplifting, motivating individuals. Remember that positive energy goes a long way to boost your self confidence and reduce your stress levels.
                ⦁	Professional help: Consider seeking assistance from a therapist or counsellor who can offer methods and support if stress becomes unbearable or persistent. “Therabalms” is just the perfect recommendation.
                It’s important to keep in mind that stress is a normal part of life, but it can be effectively controlled with the correct strategies and social networks. Try out these tips to determine what works best for you, and don’t be afraid to ask for assistance if stress becomes too much or starts to negatively impact your wellbeing and day-to-day activities.
                
                Written by:  Moyo Yekinni</p>
            <a href="#">Read next?</a>
        </div>
    </div>
   </section>

 
<!-- footer -->
    <footer>
       
        <div class="footer-col">
            <h3>Top product</h3>
            <li>About Us</li>
            <li>career</li>
            <li>our product</li>
            
        </div>
        <div class="footer-col">
            <h3>Quick links</h3>
            <li>Online therapy</li>
            <li>In-person therapy</li>
            <li>Weellness Program</li>
            
        </div>
        
        <div class="footer-col">
            <h3>resources</h3>
            <li>Blog</li>
            <li>FAQ</li>
            <li>contact Us</li>
        </div>

        <div class="footer-col">
            <h3>Newsletter</h3>
            <p>You can trust us to fastract your healing process</p>
            <div class="subscribe">
                <input type="text" placeholder="your email address">
                <a href="#" class="yellow">subscribe</a>
            </div>
        </div>
        <div class="copyright">
            <p>copyright(c)2023 all right reserved cwwtechafrica team Monrovia</p>
            <div class="pro-links">
                <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
            </div>
        </div>
    </footer>

   
    
</body>
</html>