<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial scale=1.0">
    <title>therabalms</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!---- navigation ---->
    <nav>
        
        <img src="images/Grace today.jpg" alt="">
        <div class="navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="index.html">Blog</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">consultation</a></li> 
            </ul>
            <img id="menu-btn" src="images/menu5.png" alt="">
        </div>
    </nav>

    <!-- Home -->
   <section id="blog-container">
        <div class="post">
            <div class="blogposter">
            <img src="images/mental health2.jpg" alt="">
            <h3>Anxiety disorders</h3>
            <h5>Causes of Anxiety</h5>
            <p>Hey there! Feeling a bit overwhelmed lately? Trust me, you’re not alone. Everyone experiences anxiety at some point in our lives, some more than others. If you have ever wondered what causes anxiety, triggers those sweaty palms and racing hearts? Well, you’re in for a treat because in this post, we would be exploring the fascinating world of anxiety. Our aim is to help you gain a better understanding of this common, yet often misunderstood phenomenon. So, buckle up and get ready to uncover the secrets behind anxiety, because knowledge truly is power!
                Anxiety is a reaction to the unknown, but can be conquered with the known: understanding, patience, and self-compassion.
               Anxiety is a common and frequently positive feeling. If worrying is experienced in excess though, especially on a regular basis, it could develop into a disorder and interfere with daily living.
               Anxiety disorders can have multiple causes. However, research indicates that a combination of genetic, biological, and environmental factors might be at play.
               ⦁	Genetic factors: There is evidence to support the idea that having an anxiety disorder in the family increases the likelihood of getting one. Some people may be more prone to anxiety due to certain genetic features.
               ⦁	Biological factors: imbalance of certain neurotransmitters, or brain chemicals, such as serotonin and norepinephrine, can also lead to anxiety disorders. These substances influence how we feel, sleep, and react to stress.
               ⦁	Environmental factors: Long-term exposure to stressors including financial hardships, traumatic events, chronic sicknesses, work-related stress etc. can cause or worsen anxiety disorders.
               It’s critical to realize that anxiety disorders are not a result of weakness or deficiencies in one’s character and can be successfully managed with a mix of therapy, medicine, and lifestyle changes. To manage anxiety disorders, you need to first gain insights into them and understand that they are real medical disorders. Consulting a mental health professional is an essential first step for managing and reducing symptoms of anxiety. If you or someone you know is experiencing these anxiety symptoms, Therabalms should be your go to mental health therapy platform. This is because at Therabalms , “your mental health is our priority”!!!
               Written by: Moyo Yekinni 
               </p> Written by:  Moyo Yekinni</p>
            <a href="#">Read next?</a>
        </div>
    </div>
   </section>

 
<!-- footer -->
    <footer>
       
        <div class="footer-col">
            <h3>Top product</h3>
            <li>About Us</li>
            <li>career</li>
            <li>our product</li>
            
        </div>
        <div class="footer-col">
            <h3>Quick links</h3>
            <li>Online therapy</li>
            <li>In-person therapy</li>
            <li>Weellness Program</li>
            
        </div>
        
        <div class="footer-col">
            <h3>resources</h3>
            <li>Blog</li>
            <li>FAQ</li>
            <li>contact Us</li>
        </div>

        <div class="footer-col">
            <h3>Newsletter</h3>
            <p>You can trust us to fastract your healing process</p>
            <div class="subscribe">
                <input type="text" placeholder="your email address">
                <a href="#" class="yellow">subscribe</a>
            </div>
        </div>
        <div class="copyright">
            <p>copyright(c)2023 all right reserved cwwtechafrica team Monrovia</p>
            <div class="pro-links">
                <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
            </div>
        </div>
    </footer>

   
    
</body>
</html>