{% extends "base.html" %}

{% block content %}
    <!-- Home -->
    <section id="home">
        <h2 class="text-center">Contact Us</h2>
    </section>
    
    <!-- About -->
    <section id="About" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h1>Contact Us Today</h1>
                    <p>About us: Therabalms is an initiative of Team Monrovia from CWW Tech Africa targeted at providing therapy to individuals with mental health disorders, especially anxiety, depression, and stress.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="getin">
                        <h2 class="text-center">Get in Touch</h2>
                        <p>Looking for help? Fill out the form and start a new adventure.</p>
                        <div class="getin-details">
                            <h3>Office Address</h3>
                            <div class="contact-info">
                                <i class="fas fa-map-marker-alt get"></i>
                                <p>20, Aladelola Street, Ikeja G.R.A, Ikeja Lagos</p>
                            </div>
                            <h3>Phone</h3>
                            <div class="contact-info">
                                <i class="fas fa-phone-alt get"></i>
                                <p>+234 7745776775 <br> +234 7878952466</p>
                            </div>
                            <h3>Email</h3>
                            <div class="contact-info">
                                <i class="fas fa-envelope get"></i>
                                <p>therabalms@gmail.com <br> </p>
                            </div>
                            <h3>Follow Us</h3>
                            <div class="pro-links">
                                <i class="fab fa-facebook-official get"></i>
                                <i class="fab fa-instagram get"></i>
                                <i class="fab fa-twitter get"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form">
                        <h4 class="text-center">Let's Connect</h4>
                        <p class="text-center">Let's connect with you for a better you</p>
                        <form>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Your Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="6" placeholder="How can we be of help?"></textarea>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Map -->
    <section id="map" class="py-5">
    <div class="container-fluid"> <!-- Use container-fluid for full width -->
        <div class="row">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253682.46310684874!2d3.1191418792631938!3d6.54836937260931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8b2ae68280c1%3A0xdc9e87a367c3d9cb!2sLagos!5e0!3m2!1sen!2sng!4v1695744387312!5m2!1sen!2sng" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock %}
