{% extends "base.html" %}

{% block content %}
    <!-- Home -->
	<section id="home" class="py-5 text-center">
    <div class="container">
        <h2>Welcome to Therabalms</h2>
    </div>
	</section>


    <!-- About -->
    <section id="About" class="py-5">
        <div class="container">
            <h1 class="text-center">About Therabalms</h1>
            <p>Therabalms is an initiative of Team Monrovia from CWWTech Africa, targeted at providing therapy to individuals with mental health disorders, especially anxiety, depression, stress, and mood swings. We offer self-assessment tests that enable you to appropriately understand the symptoms you are feeling, educational pieces that inform about various disorders, consultation services which provide one-on-one teletherapy, and support groups and communities who offer strength and accountability through your journey to recovery. At Therabalms, your mental health is our priority.</p>
            <p class="lead">We are here to help you through your recovery process. Connect with us today.</p>
        </div>
        <div class="btn">
            <a class="btn btn-primary" href="/about">Learn more</a>
        </div>
    </section>

    <!-- Services -->
<section class="service py-5">
    <div class="container">
        <h1 class="text-center">Our Services</h1>
        <h2 class="text-center">Therabalms specializes in managing mental health disorders, especially anxiety, depression, and stress.</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-col text-center">
                    <img src="static/images/psycotherpy2.jpg" alt="">
                    <h3>Self-Assessment</h3>
                    <p>Take our self-assessment test to understand your symptoms better.</p>
                    <a class="btn btn-primary mt-3" href="/about">Learn More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-col text-center">
                    <img src="static/images/therapy o.jpg" alt="">
                    <h3>Counseling and Consultation</h3>
                    <p>Speak with our experienced counselors and therapists for one-on-one teletherapy.</p>
                    <a class="btn btn-primary mt-3" href="/consultation">Learn More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-col text-center">
                    <img src="static/images/pro.jpg" alt="">
                    <h3>Progress Tracker</h3>
                    <p>Track your journey to recovery and receive motivation and support.</p>
                    <a class="btn btn-primary mt-3" href="/about">Learn More</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-col text-center">
                    <img src="static/images/ogaga1.jpg" alt="">
                    <h3>Psycoeducation</h3>
                    <p>Explore articles and facts to enhance your mental health knowledge.</p>
                    <a class="btn btn-primary mt-3" href="/blog">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>



    <!-- Core Competence -->
<section id="core" class="service py-5 ">
    <div class="container">
        <h1 class="text-center">Our Areas of Core Competence</h1>
        <p class="text-center">At Therabalms, we specialize in the management of anxiety, depression, and stress.</p>
        <div class="core-box">
            <div class="core col-md-4 col-sm-6">
                <img src="static/images/mental-health5.jpg" alt="">
                <div class="details text-center">
                    <span></span>
                    <h4>Mental Health Specialty</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="core col-md-4 col-sm-6">
                <img src="static/images/anxiety3.jpg" alt="">
                <div class="details text-center">
                    <h4>Anxiety</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="core col-md-4 col-sm-6">
                <img src="static/images/depress 2.jpg" alt="">
                <div class="details text-center">
                    <h4>Depression</h4>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- Registration -->
    <section id="registration" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reminder">
                        <p></p>
                        <h1>Get free consultation with us</h1>
                        <!--
                        <div class="time">
                            <div class="date">
                                28 <br>Days
                            </div>
                            <div class="date">
                                23 <br>Hours
                            </div>
                            <div class="date">
                                18 <br>Minutes
                            </div>
                            <div class="date">
                                19 <br>Seconds
                            </div>
                        </div>
                        -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form">
                        <h3>You want to speak with a Therapist?</h3>
                        <h5>Click on the button below to take our free Self Assessment Test to get 20 minutes free consultation</h5>
                            <a class="btn btn-primary" href="/assessment">Take Me To The Self Assessment Test</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials py-5">
        <div class="container">
            <h1 class="text-center">TESTIMONIALS</h1>
            <p class="text-center" class="lead">What our highly esteemed beneficiaries have to say</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="testimonial-col text-center">
                        <img src="static/images/therapy w.jpg" alt="">
                        <div>
                            <p>Dealing with depression became easier for me when I gained access to therapy. The one-on-one therapy session has helped ease the heavy burden I have felt for a very long time. I am glad I found this application.</p>
                            <h3>Christine Damilola</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-col text-center">
                        <img src="static/images/therapy c.jpg" alt="">
                        <div>
                            <p>For years, I have dealt with stress and frustration without a way out. I have lost friends to sudden outbursts of anger and had no idea how to get it under control. Finding Therabalms has been a blessing to me. This gave me insight into all I was feeling. I found articles that helped me understand my situation better and cope well with all I was going through.</p>
                            <h3>Blessing Grace</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
