{% extends "base.html" %}

{% block content %}

<section id="about-home" class="text-center py-5">
        <div class="container">
            <h2>Therabalms Self Assessment</h2>
        </div>
    </section>

    <!-- Self-Assessment Content -->
    <section class="container mt-5">
        <p>
            Self-assessment is an integral part of the therapy services provided by Therabalms, as it empowers our users to actively participate in their mental health journey. By encouraging individuals to engage in self-reflection and self-evaluation, we enable them to identify their unique challenges, triggers, and goals.
        </p>
        <p>
        		 This process not only enhances their self-awareness but also allows our therapists to tailor their interventions more effectively. Self-assessment serves as a foundation upon which our therapy services are built, fostering a collaborative and personalized approach to mental health support. 
        </p>
        <p>
        		At Therabalms, we believe that self-assessment is not just a tool but a crucial step towards achieving lasting positive change and well-being.
        </>
        <p class="text-center">
            <strong> Ready to begin your self-assessment? <a href="/assessment">Click here</a> to get started.</strong>
        </p>
    </section>
{% endblock %}
